.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.homeLink, .arrow {
    transition: all 200ms;
}

.homeLink:hover, .arrow:hover {
    filter: drop-shadow(0 0 0.3rem #ffffff70);
}

.link:hover .arrow {
    transform: translateX(-4px);
}